<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<!--Sidebar content-->

			Search: <input ng-model="query"> Sort by: <select
				ng-model="orderProp">
				<option value="name">Alphabetical</option>
				<option value="age">Age</option>
			</select>

		</div>
		<div class="span10">
			<!--Body content-->

			<ul class="contacts">
				<li
					ng-repeat="contact in contacts | filter:query | orderBy:orderProp">
					<a href="http://localhost:8182/contactsapp/contacts/{{contact.uuid}}" class="thumb"><img ng-src="img/{{contact.uuid}}.jpg"> </a> 
<!-- 					<a href="http://localhost:8182/contactsapp/contacts/{{contact.uuid}}">{{contact.name}}</a> -->
					<a href="#/contacts/{{contact.uuid}}">{{contact.name}}</a>
					<p>over 25?: {{contact.age > 25 | checkmark}}</p>
				</li>
			</ul>

		</div>
		<div class="span1">
			<form name="form" class="css-form">
				Uuid: <input type="text" ng-model="user.uuid" /><br />
				Name: <input type="text" ng-model="user.name" /><br />
				Age: <input type="text" ng-model="user.age" /><br />  
				E-mail: <input type="text" ng-model="user.email" /><br /> 
				<br />
				<button ng-click="create(user)">Create</button>
<!-- 				<button ng-click="update(user)">SAVE</button> -->
			</form>
		</div>
	</div>
</div>